
@inject HttpClient http

    <EditForm Model="@Person" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />

        <div class="form-group">
            <MatTextField @bind-Value="@Person.Fullname" Label="Fullname" IconTrailing="true" FullWidth="false" Style="width: 300px;" Required="true"></MatTextField>
        </div>

        <div class="form-group">
            <RadzenDropDown AllowClear="false" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="@Person.BgryId" Placeholder="Select Barangay" Data="@brgyprofile" TextProperty="BarangayName" ValueProperty="Id"
                            Style="margin-bottom: 5px; width:300px;" />
        </div>
        <div class="form-group">
            <div>Relationship : </div>
            <MatCheckbox @bind-Value="@Person.Family" Label="Family" />
            <MatCheckbox @bind-Value="@Person.Workmate" Label="Workmate" />
        </div>
        <div class="form-group">
            <div>Gender :</div>
            <MatRadioGroup @bind-Value="@Person.Gender" TValue="string">

                <MatRadioButton Value="@("F")" TValue="string">Female</MatRadioButton>
                <MatRadioButton Value="@("M")" Label="Male" TValue="string"></MatRadioButton>

            </MatRadioGroup>
        </div>
        <div class="form-group">
            <MatNumericUpDownField @bind-Value="@Person.Age" Label="Age" IconTrailing="false" FullWidth="false" Style="width: 150px;" Required="true" Minimum="1" Maximum="99"></MatNumericUpDownField>
        </div>
        <div class="form-group">
            <MatTextField @bind-Value="@Person.Address" Label="Address" IconTrailing="true" FullWidth="false" Style="width: 300px;" Required="true"></MatTextField>
        </div>
        <div class="form-group">
            <MatTextField @bind-Value="@Person.Contact" Label="Contact Number" IconTrailing="true" FullWidth="false" Style="width: 300px;" Required="true"></MatTextField>
        </div>

        <div class="form-group">
            <RadzenButton ButtonType="ButtonType.Submit" Style="width: 300px;" ButtonStyle="ButtonStyle.Primary"> @ButtonText</RadzenButton>

        </div>
    </EditForm>

@code {
    [Parameter] public PersonProfilesModel Person { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    List<BarangayModel> brgyprofile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadLguProfile();
    }

    async Task LoadLguProfile()
    {
        brgyprofile = await http.GetFromJsonAsync<List<BarangayModel>>("https://pegasusapiadmin.azurewebsites.net/api/Barangay");
    }

}
