@page "/cases"
@attribute [Authorize]
@inject HttpClient http
@inject IJSRuntime js
@inject NavigationManager navmgr
@inject IMatToaster matToaster
@inject Helpers _helper
@inject AppState appState
@inject AuthenticationStateProvider authStateProvider
@using Newtonsoft.Json;
@using System.Net
@using Pegasus.Command.Shared.Dto.Account
@using Microsoft.AspNetCore.Components
<center><h3>Cases</h3></center>
<br />


<br />
<br />
<a class="btn btn-success" href="/cases/create">Create New</a>
<br />

@if (person == null)
{
    <LoadingBackground ShowLogoBox="true">
        <label>Loading Cases</label>
    </LoadingBackground>
}
else
{
    <div class="col-12">
        <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="20"
                    AllowSorting="true" Data="@persons" TItem="PersonProfilesModel" ColumnWidth="300px">
            <Columns>
                <RadzenGridColumn TItem="PersonProfilesModel" Bubble="true" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Title="View Profile">
                    <Template Context="person">
                        <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => OpenUpsertRoleDialog(person))">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="PersonProfilesModel" Property="CaseNo" Title="Case No" />
                <RadzenGridColumn TItem="PersonProfilesModel" Property="Fullname" Title="Fullname" />
                <RadzenGridColumn TItem="PersonProfilesModel" Property="Barangay.BarangayName" Title="Barangay" />
                <RadzenGridColumn TItem="PersonProfilesModel" Bubble="true" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Title="Status">
                    <Template Context="person">
                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(args => OpenChangeStatDialog(person.Id))">
                        </RadzenButton>
                        @switch (person.PersonStatus)
                        {
                            case "P":
                                <h4 class="badge badge-danger">Positive</h4>
                                break;
                            case "N":
                                <h4 class="badge badge-success">Negative</h4>
                                break;
                            case "D":
                                <h4 class="badge badge-warning">PUI</h4>
                                break;
                            case "S":
                                <h4 class="badge badge-secondary">PUM</h4>
                                break;
                            default:
                                <h4 class="badge badge-dark">Unknown</h4>
                                break;

                        }

                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="PersonProfilesModel" Bubble="true" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Title="Verification">
                    <Template Context="person">
                        @if (person.CHDOHVerified.HasValue && person.BrgyVerified.HasValue)
                        {
                            @if (person.CHDOHVerified.Value && person.BrgyVerified.Value)
                            {
                                <Radzen.Blazor.RadzenIcon Icon="verified_user" />

                            }
                        }

                        @if (person.BrgyVerified.HasValue && !person.CHDOHVerified.HasValue)
                        {
                            <Radzen.Blazor.RadzenIcon Icon="verified_user" />
                        }
                        @if (!person.BrgyVerified.HasValue)
                        {
                            <RadzenButton Icon="how_to_reg" Size="ButtonSize.Medium" Click="@(args => OpenVerifyDialog(person))" Text="Verify" />


                        }

                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="PersonProfilesModel" Bubble="true" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="150px" Title="Confirmation">
                    <Template Context="person">

                        @if (!person.CHDOHVerified.HasValue && !person.BrgyVerified.HasValue)
                        {
                            <RadzenButton Icon="medical_services" Size="ButtonSize.Medium" Disabled="true" Text="Confirm">
                            </RadzenButton>
                        }
                        @if (person.CHDOHVerified.HasValue && person.BrgyVerified.HasValue)
                        {
                            @if (person.CHDOHVerified.Value && person.BrgyVerified.Value)
                            {
                                <Radzen.Blazor.RadzenIcon Icon="verified_user" />

                            }

                        }


                        @if (person.BrgyVerified.HasValue && !person.CHDOHVerified.HasValue)
                        {

                            <RadzenButton Icon="medical_services" Size="ButtonSize.Medium" Click="@(args => OpenConfirmDialog(person))" Text="Confirm">
                            </RadzenButton>
                        }

                    </Template>
                </RadzenGridColumn>
                <RadzenGridColumn TItem="PersonProfilesModel" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px" Title="Quarantine Days">
                    <Template Context="person">
                        @if (person.QDays.HasValue)
                        {
                            var days = DateTime.Now.Date.Subtract(person.QDateStarted.Value.Date).Days;
                            if (days >= person.QDays.Value)
                            {
                                <h4 class="badge badge-success">@days.ToString() of @person.QDays.Value</h4>
                                <p> Completed</p>
                                <RadzenButton Icon="medical_services" Size="ButtonSize.Medium" Click="@(args => OpenQdaysDialog(person))" Text="Extend">
                                </RadzenButton>
                            }
                            else
                            {
                                <h4 class="badge badge-danger">@days.ToString() of @person.QDays.Value</h4>

                            }

                        }
                        @if (person.CHDOHVerified.HasValue && person.BrgyVerified.HasValue && !person.QDays.HasValue)
                        {
                            @if (person.CHDOHVerified.Value && person.BrgyVerified.Value)
                            {
                                <RadzenButton Icon="medical_services" Size="ButtonSize.Medium" Click="@(args => OpenQdaysDialog(person))" Text="Days">
                                </RadzenButton>

                            }
                            else
                            {
                                <RadzenButton Icon="medical_services" Size="ButtonSize.Medium" Text="Q Days" Disabled="true">
                                </RadzenButton>
                            }
                        }

                    </Template>
                </RadzenGridColumn>


            </Columns>
        </RadzenGrid>
    </div>

    <MatDialog @bind-IsOpen="@isUpsertRoleDialogOpen">
        <MatDialogTitle>
            @labelUpsertDialogTitle
        </MatDialogTitle>
        <MatDialogContent>

            <fieldset>
                @if (!string.IsNullOrEmpty(person.Gender))
                {
                    switch (person.Gender)
                    {
                        case "M":
                            <div class="logo">
                                <img src="_content/Pegasus.Command.CommonUI/images/maleperson.svg" style="width:100px;" /><br />

                            </div>
                            ; break;
                        case "F": <div class="logo">
                                <img src="_content/Pegasus.Command.CommonUI/images/femaleperson.svg" style="width:100px;" /><br />

                            </div>; break;
                    }

                }
                <div class="form-group">


                    <RadzenDropDown AllowClear="false" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="@person.BgryId" Placeholder="Select Barangay" Data="@brgys" TextProperty="BarangayName" ValueProperty="Id"
                                    Style="margin-bottom: 20px; width:300px;">

                    </RadzenDropDown>
                    <RadzenDropDown AllowClear="false" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" @bind-Value="@person.IsolationCenterId" Placeholder="Select Isolation Center" Data="@isocenters" TextProperty="Centername" ValueProperty="Id"
                                    Style="margin-bottom: 20px; width:300px;">

                    </RadzenDropDown>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@person.CaseNo" Label="Case No" Icon="location_city" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                @if (person.BrgyVerified.HasValue)
                {
                    <h4 class="badge badge-success">Verified</h4>
                    <p>@person.BrgyRemarks</p>
                }
                @if (person.CHDOHVerified.HasValue)
                {
                    <h4 class="badge badge-success">Confirmed</h4>
                    <p>@person.CHDOHRemarks</p>
                }

                @if (person.PersonStatus != null)
                {
                    @switch (person.PersonStatus)
                    {
                        case "P":
                            <h4 class="badge badge-danger">Positive</h4>
                            break;
                        case "N":
                            <h4 class="badge badge-success">Negative</h4>
                            break;
                        case "D":
                            <h4 class="badge badge-warning">PUI</h4>
                            break;
                        case "S":
                            <h4 class="badge badge-secondary">PUM</h4>
                            break;
                        default:
                            <h4 class="badge badge-dark">Unknown</h4>
                            break;

                    }
                }
                <div class="form-group">
                    <MatTextField @bind-Value="@person.Fullname" Label="Fullname" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatH5>Gender</MatH5>
                    <MatRadioGroup @bind-Value="@person.Gender" TValue="string">

                        <MatRadioButton Value="@("M")" Label="Male" TValue="string"></MatRadioButton>
                        <MatRadioButton Value="@("F")" TValue="string">Fermale</MatRadioButton>

                    </MatRadioGroup>
                </div>
                <div class="form-group">
                    <MatNumericUpDownField @bind-Value="@person.Age" Label="Age" IconTrailing="true" FullWidth="true" Required="true" Minimum="1" Maximum="99"></MatNumericUpDownField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@person.Address" Label="Address" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatTextField @bind-Value="@person.Contact" Label="Contact No" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                <br />
                <h3>Swab Testing Detail</h3>
                <hr />
                <div class="form-group">
                    <MatTextField @bind-Value="@person.SwabArea" Label="Swab Area" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
                </div>
                <div class="form-group">
                    <MatDatePicker @bind-Value="@person.SwabTestDate" Label="Swab Testing Date" IconTrailing="true" FullWidth="true" Required="true"></MatDatePicker>
                </div>
                
                @if (person.QDays.HasValue)
                {
                    <br />
                    <h3>Quarantine Status</h3>
                    <hr />

                    var days = DateTime.Now.Date.Subtract(person.QDateStarted.Value.Date).Days;
                    if (days >= person.QDays.Value)
                    {
                        <h4 class="badge badge-success">@days.ToString() of @person.QDays.Value</h4>
                        <p> Completed</p>
                    }
                    else
                    {
                        <h4 class="badge badge-danger">@days.ToString() of @person.QDays.Value</h4>

                    }

                }


            </fieldset>


        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { isUpsertRoleDialogOpen = false; })">Cancel</MatButton>
            <MatButton OnClick="@UpsertRole">@labelUpsertDialogOkButton</MatButton>
        </MatDialogActions>
    </MatDialog>

    <MatDialog @bind-IsOpen="@isChangeStatus">
        <MatDialogTitle>Case Status Change</MatDialogTitle>
        <MatDialogContent>


            <RadzenSelectBar @bind-Value="@person.PersonStatus" TValue="string" Style="margin-bottom: 20px;">
                <Items>
                    <RadzenSelectBarItem Text="Positive" Value="@("P")" />
                    <RadzenSelectBarItem Text="PUI" Value="@("D")" />
                    <RadzenSelectBarItem Text="PUM" Value="@("S")" />
                    <RadzenSelectBarItem Text="Negative" Value="@("N")" />
                </Items>
            </RadzenSelectBar>
            <div class="form-group">
                <MatDatePicker @bind-Value="@person.DateLabConfirm" Label="Laboratory Confirmation Date" IconTrailing="true" FullWidth="true" Required="true"></MatDatePicker>
            </div>

        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@CancelChanges">Cancel</MatButton>
            <MatButton OnClick="@ChangePersonStatus">Change Status</MatButton>
        </MatDialogActions>
    </MatDialog>
    <MatDialog @bind-IsOpen="@isVerify">
        <MatDialogTitle>Verification</MatDialogTitle>
        <MatDialogContent>

            @if (person.Barangay != null)
            {
                <p Style="margin-bottom: 10px;">We verify that Mr/Ms/Mrs. @person.Fullname is a resident of @barangayname .</p>}
            <label>Remarks</label>
            <MatTextField @bind-Value="@person.BrgyRemarks"></MatTextField>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@CancelVerify">Cancel</MatButton>
            <MatButton OnClick="@Verify">Verify</MatButton>
        </MatDialogActions>
    </MatDialog>

    <MatDialog @bind-IsOpen="@isConfirm">
        <MatDialogTitle>Confirmation</MatDialogTitle>
        <MatDialogContent>


            @if (person.Barangay != null)
            {
                <p Style="margin-bottom: 10px;">We confirm that Mr/Ms/Mrs. @person.Fullname is a resident from @barangayname  endorsed to us.</p>}
            <label>Remarks</label>
            <MatTextField @bind-Value="@person.CHDOHRemarks"></MatTextField>

        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@CancelConfirm">Cancel</MatButton>
            <MatButton OnClick="@Confirm">Confirm</MatButton>
        </MatDialogActions>
    </MatDialog>

    <MatDialog @bind-IsOpen="@isQdays">
        <MatDialogTitle>Quarantine Period</MatDialogTitle>
        <MatDialogContent>

            @if (person != null)
            {
                <p Style="margin-bottom: 10px;">We confirm that Mr/Ms/Mrs. @person.Fullname is a resident from @barangayname to undergo on Quarantine Period.</p>}
            <RadzenSelectBar @bind-Value="@quadays" TValue="int" Style="margin-bottom: 20px;">
                <Items>
                    <RadzenSelectBarItem Text="1-8" Value="8" />
                    <RadzenSelectBarItem Text="1-15" Value="15" />
                    <RadzenSelectBarItem Text="1-22" Value="22" />

                </Items>
            </RadzenSelectBar>


        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@CancelQdays">Cancel</MatButton>
            <MatButton OnClick="@Qdays">Proceed</MatButton>
        </MatDialogActions>
    </MatDialog>
}

@code {
    UserInfoDto userInfo = null;
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    List<PersonProfilesModel> persons { get; set; }
    List<BarangayModel> brgys { get; set; }
    List<IsolationCenterModel> isocenters { get; set; }
    PersonProfilesModel person = new PersonProfilesModel();
    int quadays = 0;
    string barangayname = "";
    protected override async Task OnInitializedAsync()
    {
        await LoadProfile();
        await LoadBarangay();
        await LoadIsolationCenters();

        userInfo = null;
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            userInfo = await ((IdentityAuthenticationStateProvider)authStateProvider).GetUserInfo();
        }
    }

    async Task LoadProfile()
    {
        string apis = _helper.ApiUrl(ApiType.Agent);
        string uris = apis + "/Person";
        persons = await http.GetJsonAsync<List<PersonProfilesModel>>(uris);
    }

    async Task LoadBarangay()
    {
        string apis = _helper.ApiUrl(ApiType.Admin);
        string uris = apis + "/Barangay";
        brgys = await http.GetJsonAsync<List<BarangayModel>>(uris);
    }

    async Task LoadIsolationCenters()
    {
        string apis = _helper.ApiUrl(ApiType.Admin);
        string uris = apis + "/Isolation";
        isocenters = await http.GetJsonAsync<List<IsolationCenterModel>>(uris);
    }




    #region OpenUpsertRoleDialog

    bool isUpsertRoleDialogOpen = false;
    bool isInsertOperation;
    string labelUpsertDialogTitle;
    string labelUpsertDialogOkButton;

    public async Task OpenUpsertRoleDialog(PersonProfilesModel mperson)
    {
        string apis = _helper.ApiUrl(ApiType.Agent);
        string uris = apis + "/Person";
        try
        {

            if (mperson.Id == 0)
            {
                isInsertOperation = true;
                labelUpsertDialogTitle = "New Case";
                labelUpsertDialogOkButton = "Create Case";
                person = new PersonProfilesModel();
            }
            else
            {
                isInsertOperation = false;
                person = await http.GetFromJsonAsync<PersonProfilesModel>(uris + "/" + mperson.Id);
                person = mperson;
                barangayname = person.Barangay.BarangayName;
                labelUpsertDialogTitle = "Edit Case";
                labelUpsertDialogOkButton = "Update Case";
            }

            isUpsertRoleDialogOpen = true;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, $"{labelUpsertDialogTitle} Error");
        }
    }

    public async Task UpsertRole()
    {
        try
        {
            string apis = _helper.ApiUrl(ApiType.Admin);
            string uris = apis + "/Person";

            if (string.IsNullOrEmpty(person.CaseNo) || string.IsNullOrEmpty(person.Fullname)
                || string.IsNullOrEmpty(person.Address) || string.IsNullOrEmpty(person.Contact))
            {
                matToaster.Add("Fields are empty", MatToastType.Danger);
                return;
            }



            person.SwabArea = userInfo.UserName;
            await http.PutAsJsonAsync(uris, person);




            matToaster.Add(isInsertOperation ? "Case Created" : "Case Updated", MatToastType.Success);

            //await PopulateRoleList();
            StateHasChanged();

            //  matToaster.Add(apiResponse.Message, MatToastType.Danger);


            // this.StateHasChanged();
            //await OnInitializedAsync();

            isUpsertRoleDialogOpen = false;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, ex.ToString());
        }
    }

    #endregion

    #region ChangeStatus
    bool isChangeStatus = false;
    public async Task OpenChangeStatDialog(int id)
    {
        string apis = _helper.ApiUrl(ApiType.Admin);
        string uris = apis + "/Person";
        try
        {

            if (id == 0)
            {

                person = new PersonProfilesModel();
            }
            else
            {

                person = await http.GetFromJsonAsync<PersonProfilesModel>(uris + "/" + id);

            }

            isChangeStatus = true;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, $"{labelUpsertDialogTitle} Error");
        }
    }
    public async Task ChangePersonStatus()
    {
        try
        {
            string apis = _helper.ApiUrl(ApiType.Agent);
            string uris = apis + "/Person";



            await http.PutAsJsonAsync(uris, person);




            matToaster.Add("Case Updated", MatToastType.Success);

            //await PopulateRoleList();
            StateHasChanged();

            //  matToaster.Add(apiResponse.Message, MatToastType.Danger);


            // this.StateHasChanged();
            await OnInitializedAsync();

            isChangeStatus = false;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, ex.ToString());
        }
    }
    public void CancelChanges()
    {

        isChangeStatus = false;
    }
    #endregion

    #region Verification
    bool isVerify = false;
    public async Task OpenVerifyDialog(PersonProfilesModel mperson)
    {
        string apis = _helper.ApiUrl(ApiType.Agent);
        string uris = apis + "/Person";
        try
        {

            if (mperson.Id == 0)
            {

                person = new PersonProfilesModel();
            }
            else
            {

                person = await http.GetFromJsonAsync<PersonProfilesModel>(uris + "/" + mperson.Id);

            }

            isVerify = true;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, $"{labelUpsertDialogTitle} Error");
        }
    }
    public async Task Verify()
    {
        try
        {
            string apis = _helper.ApiUrl(ApiType.Agent);
            string uris = apis + "/Person";


            person.BrgyVerified = true;
            await http.PutAsJsonAsync(uris, person);




            matToaster.Add("Case Updated", MatToastType.Success);

            //await PopulateRoleList();
            StateHasChanged();

            //  matToaster.Add(apiResponse.Message, MatToastType.Danger);


            // this.StateHasChanged();
            await OnInitializedAsync();

            isVerify = false;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, ex.ToString());
        }
    }
    public void CancelVerify()
    {

        isVerify = false;
    }
    #endregion
    #region Confirmation
    bool isConfirm = false;
    public async Task OpenConfirmDialog(PersonProfilesModel mperson)
    {
        string apis = _helper.ApiUrl(ApiType.Agent);
        string uris = apis + "/Person";
        try
        {

            if (mperson.Id == 0)
            {

                person = new PersonProfilesModel();
            }
            else
            {

                person = await http.GetFromJsonAsync<PersonProfilesModel>(uris + "/" + mperson.Id);

            }

            isConfirm = true;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, $"{labelUpsertDialogTitle} Error");
        }
    }
    public async Task Confirm()
    {
        try
        {
            string apis = _helper.ApiUrl(ApiType.Agent);
            string uris = apis + "/Person";


            person.CHDOHVerified = true;
            await http.PutAsJsonAsync(uris, person);




            matToaster.Add("Case Updated", MatToastType.Success);

            //await PopulateRoleList();
            StateHasChanged();

            //  matToaster.Add(apiResponse.Message, MatToastType.Danger);


            // this.StateHasChanged();
            await OnInitializedAsync();

            isConfirm = false;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, ex.ToString());
        }
    }
    public void CancelConfirm()
    {

        isConfirm = false;
    }
    #endregion

    #region Qdays
    bool isQdays = false;
    public async Task OpenQdaysDialog(PersonProfilesModel mperson)
    {
        string apis = _helper.ApiUrl(ApiType.Agent);
        string uris = apis + "/Person";
        try
        {

            if (mperson.Id == 0)
            {

                person = new PersonProfilesModel();
            }
            else
            {

                person = await http.GetFromJsonAsync<PersonProfilesModel>(uris + "/" + mperson.Id);


            }

            isQdays = true;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, $"{labelUpsertDialogTitle} Error");
        }
    }
    public async Task Qdays()
    {
        person.QDays = quadays;
        try
        {
            string apis = _helper.ApiUrl(ApiType.Admin);
            string uris = apis + "/Person";

            person.QDateStarted = DateTime.Now;
            person.QDateEnded = DateTime.Now.Date.AddDays(person.QDays.Value);

            await http.PutAsJsonAsync(uris, person);




            matToaster.Add("Case Updated", MatToastType.Success);

            //await PopulateRoleList();
            StateHasChanged();

            //  matToaster.Add(apiResponse.Message, MatToastType.Danger);


            // this.StateHasChanged();
            await OnInitializedAsync();

            isQdays = false;
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, ex.ToString());
        }
    }
    public void CancelQdays()
    {

        isQdays = false;
    }
    #endregion
}